* { box-sizing: border-box; }

html, body {
    width: 100vw;
    min-height: 100vh;
}

body {
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

img {
    width: 300px;
    box-shadow: 5px 15px blue;
}